.btn {
  display: inline-block;
  max-width: 270px;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  line-height: calc(18 / 24);
  text-align: center;
  text-decoration: none;
  background-color: #3a4574;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;

  @media (min-width: 768px) {
    padding: 30px;
  }

  &:hover {
    background-color: #d3b47f;
    color: #000;
  }
}
