.burger {
  display: flex;
  position: relative;
  top: 4px;
  padding: 0;
  width: 25px;
  height: 25px;
  z-index: 5;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
    }
}

.burger > span,
.burger > span::before,
.burger > span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}

.burger > span:hover,
.burger > span:hover::before,
.burger > span:hover::after{
  background-color: #d3b47f;
}

.burger > span {
  top: 10px;
}

.burger > span::before {
  content: "";
  transform: translateY(-8px);
}

.burger > span::after {
  content: "";
  transform: translateY(8px);
}