.intro {
  min-width: 320px;
  padding: 20px 0;

  @media (min-width: 1028px) {
    padding: 264px 0 100px;
    background-image: url('../../src/img/background.png');
    background-repeat: no-repeat;
    background-position: top center;
  }

  &__hours {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: calc(18 / 16);
    text-transform: uppercase;
  }

  &__wrapper {
    margin-top: 20px;

    @media (min-width: 768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__btn {
    margin-bottom: 30px;
  }

  &__gallery {
    margin-top: 30px;

    @media (min-width: 1028px) {
      display: none;
    }
  }
}
