.reviews-list {
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    margin-bottom: 34px;
  }

  &__title {
    margin: 0 0 20px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: #d3b47f;

    @media (max-width: 1027px) {
      max-width: 410px;
    }

    @media (min-width: 768px) {
      font-size: 36px;
      line-height: calc(40 / 36);
    }
  }

  &__text {
    max-width: 720px;
    margin: 0 0 40px;
    padding: 0 55px;
    font-size: 14px;
    line-height: calc(22 / 14);
    text-align: center;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: calc(40 / 16);
      color: #fff;
    }
  }

  &__name {
    margin: 0;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #d3b47f;
  }
}
