.trigger {
  display: flex;
  position: relative;
  top: 0;
  padding: 0;
  width: 20px;
  height: 14px;
  z-index: 5;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &::before {
    top: 0;
    box-shadow: #fff 0 6px 0 0;

    transform: translate3d(0,0,0) rotate(0);
    transition-property: transform,box-shadow,top;
    transition-duration: .55s,0.2s,0.2s;
    transition-delay: 0s,0.45s,0.45s;
  }

  &::after {
    top: 100%;
    transform: translate3d(0,-100%,0) rotate(0);
    transition-property: transform,top;
    transition-duration: .55s,0.2s;
    transition-delay: 0s,0.45s;
  }
}

.trigger > span,
.trigger > span::before,
.trigger > span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.2s;
}

.trigger > span {
  top: 10px;
}

.trigger > span::before {
  content: "";
  transform: translateY(-8px);
}

.trigger > span::after {
  content: "";
  transform: translateY(8px);
}